{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>Image uploader</title>
        {% stylesheets "@ServerGroveKbBundle/Resources/public/css/*.css" filter="?yui_css" output="/css/compiled/uploader.css" %}
        <link rel="stylesheet" media="all" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% javascripts
            "@ServerGroveKbBundle/Resources/public/js/*.js"
            "@ServerGroveKbBundle/Resources/public/js/backend/*.js"
            filter="?yui_js"
            output="/js/compiled/uploader.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% if refresh is defined and refresh %}
        <script type="text/javascript">
            /* <![CDATA[ */
            parent.$(':button#gallery-refresh').click();
            parent.$('a[href="#gallery"]').click();
            /* ]]> */
        </script>
        {% endif %}
    </head>
    <body>
        <form action="{{ path('sgkb_admin_articles_files_upload') }}" class="form-inline" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form.path) }}

            <div class="modal-footer" style="margin-top: 50px;">


                <button class="btn btn-primary" type="submit">Submit</button>
                                </div>



            {{ form_rest(form) }}
        </form>
    </body>
</html>
{% endspaceless %}
