<div class="modal hide" id="galleryModal" ng-controller="ImageGalleryCtrl" ng-init="url='{{ path('sgkb_admin_articles_files_all', { '_format': 'json' }) }}';">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Image gallery</h3>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#upload" data-toggle="tab">Upload</a></li>
              <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
            </ul>
        <div class="tab-content">
            <div class="tab-pane" id="gallery">
        <div class="hide">
            <input type="text" placeholder="width" ng-model="width" class="input-small"/>
            &nbsp;
            <input type="text" placeholder="height" ng-model="height" class="input-small"/>
        </div>
        <ul class="image-gallery">
            <li ng-repeat="image in images">
                <img ng-src="{% raw %}{{ image.path }}{% endraw %}" alt="{% raw %}{{ image.path }}{% endraw %}" ng-click="select(image)" ng-class="image.class"/>
            </li>
        </ul>
        <div>
            <div class="hide">
                <a href="javascript:void(0);" ng-click="togglePreview()">Preview</a>
            </div>
            <div class="image-preview" ng-show="displayPreview">
                <img width="{% raw %}{{ width }}{% endraw %}" height="{% raw %}{{ height }}{% endraw %}" ng-src="{% raw %}{{ selectedImage.path }}{% endraw %}" alt="{% raw %}{{ selectedImage.path }}{% endraw %}"/>
            </div>
        </div>
                <div class="modal-footer">
                        <div class="btn-toolbar">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="build()">Insert</button>
                        </div>
                    </div>

            </div>
        <div class="tab-pane active" id="upload">
            <iframe src="{{ path('sgkb_admin_articles_files_uploader') }}" width="100%" height="155" frameborder="0"></iframe>


                    <button class="btn btn-mini btn-success hide" id="gallery-refresh" type="button" ng-click="fetch()">Reload</button>
                </div>
        </div>

        </div>

</div>


</div>
