<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Categories{% endtrans %}</th>
            <th>{% trans %}Keywords{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Active{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td><a href="{{ path('sgkb_admin_articles_edit', { 'slug': document.slug }) }}">{{ document }}</a></td>
            <td>{{ document.getCategories().values()|join(', ') }}</td>
            <td>{{ document.getKeywords()|join(', ') }}</td>
            <td>{{ document.updated|date("m.d.y, g:i a") }}</td>
            <td>
                {{ article_locales(document) }}
            </td>
            <td style="width: 300px;">
                <!--<a class="btn" href="{{ path('sgkb_admin_articles_show', { 'slug': document.slug }) }}">{% trans %}Show{% endtrans %}</a>-->
                {{ sgkb.editLink('sgkb_admin_articles_edit', { 'slug': document.slug }, {}, 'Edit Article') }}
                <a class="btn" target="_blank" href="{{ path('sgkb_articles_view', { 'slug': document.slug, 'path': document.getDefaultCategory().getPath(), '_format': 'html' }) }}">{% trans %}View Article{% endtrans %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
