{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% form_theme form _self %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, document.getDefaultCategory()|default(false), true) }}
{% endblock postheader %}

{% block content %}
    <form class="form-horizontal" ng-controller="NewArticleCtrl" ng-init="check_url='{{ path('sgkb_admin_articles_check', { '_format': 'json' }) }}'" id="article_form" action="{{ path('sgkb_admin_articles_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, { legend: 'Article creation'|trans }) }}
        <div class="form-actions" ng-init="validate=true">
            <button ng-disabled="title.invalid" class="btn btn-primary" type="submit">{% trans %}Create{% endtrans %}</button>
            &nbsp;
            <a class="btn" href="{{ path('sgkb_admin_articles_index') }}">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </form>
    {% render "ServerGroveKbBundle:Admin/Urls:modalForm" %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div {{ block('row_container_attributes') }}>
            {{ form_label(form, label|default(null)) }}
            <div class="controls">
                {% set attributes = {} %}
                {% if form.get('value') is not iterable %}
                    {% set attributes = attributes|merge({ 'ng-model': form.get('name')~'.value', 'ng-init': form.get('name')~'.value="'~form.get('value')~'"' }) %}
                {% else %}
                    {% set attributes = attributes|merge({ 'ng-model': form.get('name')~'.values', 'ng-init': form.get('name')~'.values='~form.get('value')|json_encode }) %}
                {% endif %}

                {{ form_widget(form, { 'attr': attributes }) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option ng-selected="isOptionSelected('{{ choice.value }}')" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block field_errors %}
    {% spaceless %}
        {% set error_messages %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {% if loop.index > 1 %}
                    ,&nbsp;
                {% endif %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
            {% endfor %}
        {% endif %}
        {% endset %}
        <span class="help-inline" ng-init="{{ form.get('name') }}.message = '{{ error_messages|escape }}'" ng-show="{{ form.get('name') }}.message != ''">{% raw %}{{{% endraw %} {{ form.get('name') }}{% raw %}.message }}{% endraw %}</span>
    {% endspaceless %}
{% endblock field_errors %}

{% block row_container_attributes %}
    {% spaceless %}

        {% set attr = { 'class': "ng-class:getClassForControlGroup('"~form.get('name')~"'); control-group" } %}

        {% if errors|length > 0 %}
            {% set attr = attr|merge({ 'class': 'error ' ~ attr.class }) %}
        {% endif %}

        {% for attrname,attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}

    {% endspaceless %}
{% endblock row_container_attributes %}
