{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(article, article.getDefaultCategory(), true) }}
{% endblock postheader %}

{% block content %}
    <h1>{% trans with { "%name%": article } %}Article "%name%"{% endtrans %}</h1>

    <dl class="dl-horizontal">
        <dt>{% trans %}Title{% endtrans %}</dt>
        <dd>{{ article.title }}</dd>
        <dt>{% trans %}Created{% endtrans %}</dt>
        <dd>{{ article.created|date('Y-m-d H:i:s') }}</dd>
        <dt>{% trans %}Updated{% endtrans %}</dt>
        <dd>{{ article.updated|date('Y-m-d H:i:s') }}</dd>
        <dt>{% trans %}Is Active{% endtrans %}</dt>
        <dd>{{ article.isActive|booltostr }}</dd>
        <dt>{% trans %}Categories{% endtrans %}</dt>
        <dd>{{ article.categories.count() }}</dd>
        <dt>{% trans %}Slug{% endtrans %}</dt>
        <dd>{{ article.slug }}</dd>
        <dt>{% trans %}Metadata{% endtrans %}</dt>
        <dd>{{ article.getAllMetadata | json_encode }}</dd>
    </dl>

    <p id="keyword-box">
        <br class="clear"/>
    </p>

    <div class="well">
        {% set extras %}
        <a class="btn" href="{{ path('sgkb_admin_articles_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        {{ sgkb.editLink('sgkb_admin_articles_edit', { 'slug': article.slug }, { 'class': 'btn' }, 'Edit Article') }}
        {% endset %}
        {{ sgkb.deleteForm(delete_form, 'sgkb_admin_articles_delete', { 'slug': article.slug }, extras) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            var keywordView = new ServerGrove.Api.View.KeywordTool({collection: {{ article.keywords | json_encode | raw }}});
            $(keywordView.render()).prependTo("#keyword-box");
        });//]]>
    </script>
{% endblock %}
