{% macro displayCategoryBreadcrumb(category, active, admin) %}

    {% if category.parent.path is defined %}
        {{ _self.displayCategoryBreadcrumb(category.getParent(), false, admin) }}
    {% endif %}

    {% set route = admin|default(false) ? "sgkb_admin_categories_show" : "sgkb_categories_view" %}
    <li{% if active|default(false) %} class="active" {% endif %}>
        <a class="alllower" href="{{ path(route, {'path': category.getPath(), '_format': 'html'}) }}">{{ category.getName() }}</a>

        {% if not active|default(false) %}
            <span class="divider">/</span>
        {% endif %}
    </li>

{% endmacro %}

{% macro displayArticleBreadcrumb(article, category, admin) %}

    {{ _self.displayCategoryBreadcrumb(category, false, admin) }}

    {% set route = admin|default(false) ? "sgkb_admin_articles_show" : "sgkb_articles_view" %}
    <li class="active">
        <a class="alllower" href="{{ path(route, {'path': category.getPath(), 'slug': article.getSlug(), '_format': 'html'}) }}">{{ article.getTitle() }}</a>
    </li>

{% endmacro %}

{% macro displayBreadcrumb(article, category, admin) %}
    {% spaceless %}
        {% set admin = admin|default(false) %}
        {% set article = article|default(false) %}
        {% set category = category|default(false) %}
        <ul class="breadcrumb">
            <li>
                <a class="alllower" href="{{ path(admin ? 'sgkb_admin_categories_index' : 'sgkb_index_locale', {'_locale': app.request.locale}) }}">{% trans %}Home{% endtrans %}</a>
                {% if category or article %}<span class="divider">/</span>{% endif %}
            </li>

            {% if category %}
                {% if article %}
                    {{ _self.displayArticleBreadcrumb(article, category, admin) }}
                {% else %}
                    {{ _self.displayCategoryBreadcrumb(category, true, admin) }}
                {% endif %}
            {% elseif article %}
                {{ _self.displayArticleBreadcrumb(article, article.getDefaultCategory(), admin) }}
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}
