<div class="pull-right">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterhandle">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<h2 class="article-title">{{ article.getTitle() }}</h2>
<hr>

<div class="article-content">
    {% if article.getContentType() == 'markdown' %}
    {{ article.getContent()|markdown }}
    {% else %}
    {{ article.getContent()|raw }}
    {% endif %}
</div>

<hr/>
{% if locales|length > 1%}
<p>
    This article is also available in these languages
    <select switch="locale">
        {% for locale, localeData in localeNames %}
        <option path="{{ localeData.path }}" value="{{ locale }}"{% if localeData.current %} selected="selected" {% endif %}>{{ localeData.name }}</option>
        {% endfor %}
    </select>
</p>
{% endif %}

{% if enable_related_urls and article.getUrls()|length > 0 %}
<div class="well">
    <h4>Related Urls</h4>
    <ul class="related-urls articles">
        {% for url in article.getUrls() %}
        <li><a href="{{ url.getUrl() }}">{{ url }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if showComments is defined and showComments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'shortname'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}

    <ul class="pager">

    {% if previousArticle %}
    <li class="previous">
        <a href="{{ path('sgkb_articles_view', { 'slug': previousArticle.slug, 'path': category.path, '_format': 'html' }) }}">
            &larr; {{ previousArticle }}

            </a>
          </li>


    {% endif %}

    {% if nextArticle %}
    <li class="next">
    <a href="{{ path('sgkb_articles_view', { 'slug': nextArticle.slug, 'path': category.path, '_format': 'html' }) }}">

        {{ nextArticle }} &rarr;
    </a>

    </li>
    {% endif %}
    </ul>
