{% spaceless %}
    <div class="well center">
        <form class="form-search" action="{{ path('sgkb_search') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            {{ form_widget(form.category) }}
            <div class="input-append" style="margin-left: 4px;">
                {{ form_widget(form.keywords, {"attr": {"class": "input-large search-query"} } ) }}
                <button class="btn" type="submit">{% trans %}Search{% endtrans %}</button>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endspaceless %}
