{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, false, true) }}
{% endblock postheader %}

{% block content %}
<h1>User list</h1>

<table class="table">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col class="span2">
    </colgroup>
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Username{% endtrans %}</th>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Roles{% endtrans %}</th>
        <th>{% trans %}Enabled{% endtrans %}</th>
        <th>{% trans %}Locked{% endtrans %}</th>
        <th>{% trans %}Expirationdate{% endtrans %}</th>
        <th>{% trans %}Subscriptions{% endtrans %}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="9">
                <div class="well">
                    {{ sgkb.newLinkForTable('sgkb_admin_users_new', {}, {}, 'Add User') }}
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
    {% for document in documents %}
    <tr>
        <td><a href="{{ path('sgkb_admin_users_show', { 'username': document.username }) }}">{{ document.name }}</a></td>
        <td><a href="{{ path('sgkb_admin_users_show', { 'username': document.username }) }}">{{ document.username }}</a></td>
        <td>{{ document.email }}</td>
        <td>{{ document.roles|join(", ") }}</td>
        <td>{{ document.enabled|booltostr }}</td>
        <td>{{ document.locked|booltostr }}</td>
        <td>{% if document.expirationDate %}{{ document.expirationDate|date('Y-m-d H:i:s') }}{% else %}{% trans %}Never{% endtrans %}{% endif%}</td>
        <td>{{ document.subscriptions|length }}</td>
        <td>
            <a class="btn btn-mini" href="{{ path('sgkb_admin_users_show', { 'username': document.username }) }}">{% trans %}Show{% endtrans %}</a>
            {{ sgkb.editLink('sgkb_admin_users_edit', { 'username': document.username }, { 'class': 'btn btn-mini' }) }}
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-mini" href="{{ path('sgkb_admin_users_password_edit', { 'username': document.username }) }}">{% trans %}Change Password{% endtrans %}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
