<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('sgkb_admin') }}">Knowledge Base Admin</a>
            {% if authenticated %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ path('sgkb_admin') }}">Home</a></li>
                    <li><a href="{{ path('sgkb_admin_categories_index') }}">{% trans %}Categories{% endtrans %}</a></li>
                    <li><a href="{{ path('sgkb_admin_articles_index') }}">{% trans %}Articles{% endtrans %}</a></li>
                    <li><a href="{{ path('sgkb_admin_users_index') }}">{% trans %}Users{% endtrans %}</a></li>
                    <li><a href="{{ path('sgkb_admin_urls_index') }}">{% trans %}URLs{% endtrans %}</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans with { "%name%": app.user.name } %}Logged in as %name%{% endtrans %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('sgkb_admin_users_password_edit', { 'username': app.user.username }) }}">{% trans %}Change password{% endtrans %}</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{{ path('sgkb_admin_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
