{% extends "ServerGroveKbBundle:Default:layout.html.twig" %}

{% block title %}{{ category.getName() }} - {{ parent() }}{% endblock title %}

{% block metas %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" title="Categories list" href="{{ path('sgkb_categories_view', { 'path': category.path, _format: "rss" }) }}"/>
{% endblock %}


{% macro articleLink(article, category) %}
    {% if article %}
        <li>
            <a href="{{ path('sgkb_articles_view', { 'slug': article.slug, 'path': category.path, '_format': 'html' }) }}">{{ article }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% block content %}


    <h2>{% trans with {"%name%": category} %}%name%{% endtrans %}</h2>
    {{ category.description }}
    <hr>
{% if category.getChildren() | length > 0 %}
<b>{% trans %}Subcategories{% endtrans %}</b>
          {% render "ServerGroveKbBundle:Categories:subcategorySelector" with { 'category': category } %}
<hr >
{% endif %}
    <div class="row-fluid">
        <div class="span8">
            <h3>{% trans %}Articles{% endtrans %}</h3>
            <ul class="articles">
                {% for article in articles %}
                    {{ _self.articleLink(article, category) }}
                {% endfor %}
            </ul>
        </div>
        <div class="span4 well">

            <h3>{% trans %}Top Articles{% endtrans %}</h3>
            <ul class="articles">
                {% for article in topArticles %}
                    {{ _self.articleLink(article, category) }}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
