{% macro editLink(route, params, attrs, text) %}
{% spaceless %}
{% if is_granted("ROLE_CONTRIBUTOR") %}
<a href="{{ path(route, params) }}"{{ _self.renderAttributes({ 'class': 'btn' }|merge(attrs|default({}))) }}>
    {{ text|default('Edit')|trans }}
</a>
{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro editCat(route, params, attrs) %}
{% spaceless %}
{% if is_granted("ROLE_CONTRIBUTOR") %}
<a href="{{ path(route, params) }}"{{ _self.renderAttributes({ 'class': 'btn' }|merge(attrs|default({}))) }}>
    {% trans %}Settings{% endtrans %}
</a>
{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro deleteForm(delete_form, route, params, extras) %}
{% if is_granted("ROLE_ADMIN") %}
<form action="{{ path(route, params) }}" method="post" class="delete-form">
    {{ form_widget(delete_form) }}
    {{ extras|default('') }}
    &nbsp;
    <button class="btn btn-danger" id="btn_{{ route }}" type="submit">{% trans %}Delete{% endtrans %}</button>
</form>
{% endif %}
{% endmacro %}

{% macro newLink(route, params, attrs, text) %}
{% spaceless %}
{% if is_granted("ROLE_EDITOR") %}
<div class="well bump">
    <a href="{{ path(route, params|default({})) }}"{{ _self.renderAttributes({ 'class': 'btn btn-primary' }|merge(attrs|default({}))) }}>
        {{ text|default('Create new item')|trans }}
    </a>
</div>
{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro newLinkForTable(route, params, attrs, text) %}
{% spaceless %}
{% if is_granted("ROLE_EDITOR") %}
<a href="{{ path(route, params|default({})) }}"{{ _self.renderAttributes({ 'class': 'btn btn-primary' }|merge(attrs|default({}))) }}>
    {{ text|default('Create new item')|trans }}
</a>
{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro renderAttributes(attributes) %}
{% for key, value in attributes|default({}) %} {{ key }}="{{ value }}"{% endfor %}
{% endmacro %}
