{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, false, true) }}
{% endblock postheader %}

{% block content %}
<form class="form-horizontal" action="{{ path('sgkb_admin_urls_update', { 'slug': document.slug }) }}" method="post">
    {% for locale, form in translation_forms %}
    {{ _self.translationForm(form, locale) }}
    {% endfor %}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
        &nbsp;
        <a class="btn" href="{{ path('sgkb_admin_urls_index') }}">{% trans %}Cancel{% endtrans %}</a>
    </div>
</form>
{% endblock %}


{% macro translationForm(form, locale) %}
{{ form_widget(form, { legend: 'Url edit for locale "%locale%"'|trans({ '%locale%': locale }) }) }}
{% endmacro %}
