{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, false, true) }}
{% endblock postheader %}

{% block content %}
<h1>Url list</h1>

<table class="table">
    <colgroup>
        <col>
        <col class="span2">
        <col class="span2">
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Created_at</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="3">
                <div class="well">
                    {{ sgkb.newLinkForTable('sgkb_admin_urls_new', {}, {}, 'Add URL') }}
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% for document in documents %}
        <tr>
            <td><a href="{{ path('sgkb_admin_urls_show', { 'slug': document.slug }) }}">{{ document.name }}</a></td>
            <td>{% if document.createdat %}{{ document.createdat|date('Y-m-d') }}{% endif%}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('sgkb_admin_urls_show', { 'slug': document.slug }) }}">{% trans %}Show{% endtrans %}</a>
                {{ sgkb.editLink('sgkb_admin_urls_edit', { 'slug': document.slug }, { 'class': 'btn btn-mini' }) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
