{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, false, true) }}
{% endblock postheader %}

{% block content %}
<form class="form-horizontal" action="{{ path('sgkb_admin_urls_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form, { legend: 'Url creation'|trans }) }}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans %}Create{% endtrans %}</button>
        &nbsp;
        <a class="btn" href="{{ path('sgkb_admin_urls_index') }}">{% trans %}Cancel{% endtrans %}</a>
    </div>
</form>
{% endblock %}
