{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, false, true) }}
{% endblock postheader %}

{% block content %}
<h1>{% trans with { '%name%': document.name } %}Url "%name%"{% endtrans %}</h1>

<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{ document.name }}</dd>
    <dt>Url</dt>
    <dd><a href="{{ document.url }}">{{ document.url }}</a></dd>
    <dt>Created At</dt>
    <dd>{{ document.createdat|date('Y-m-d H:i:s') }}</dd>
</dl>

<div class="well">
    {% set extras %}
    <a class="btn" href="{{ path('sgkb_admin_urls_index') }}">{% trans %}Back to the list{% endtrans %}</a>
    {{ sgkb.editLink('sgkb_admin_urls_edit', { 'slug': document.slug }, { 'class': 'btn' }, 'Edit URL') }}
    {% endset %}
    {{ sgkb.deleteForm(delete_form, 'sgkb_admin_urls_delete', { 'slug': document.slug }, extras) }}
</div>
{% endblock %}
