{% extends "ServerGroveKbBundle:Admin:layout.html.twig" %}

{% block postheader %}
    {{ parent() }}
    {{ sgkb_breadcrumb.displayBreadcrumb(false, category|default(false), true) }}
{% endblock postheader %}

{% block content %}

{% if category is not defined %}
    <h2>{% trans %}Categories list{% endtrans %}</h2>
{% else %}
    {% include "ServerGroveKbBundle:Admin/Categories:show.html.twig" %}
    {% if category.getChildren()|length > 0 %}
        <h2>{% trans %}Subcategories list{% endtrans %}</h2>
    {% endif %}
{% endif %}

<div class="well bump">
    {% if category is defined %}
        {{ sgkb.newLinkForTable('sgkb_admin_categories_new_subcategory', { path: category.path }, {}, 'Add Category') }}
    {% else %}
        {{ sgkb.newLinkForTable('sgkb_admin_categories_new', {}, {}, 'Add Category') }}
    {% endif %}
</div>


<table class="table" id="categories-list">
    <colgroup>
        <col class="span3">
    </colgroup>
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Edit{% endtrans %}</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
        {{ _self.drawItemRow(category) }}
        {% else %}
        <tr>
            <td colspan="2">{% trans %}No categories have been found{% endtrans %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% macro drawItemRow(category, spaces) %}
    {% import "ServerGroveKbBundle:Admin:macros.html.twig" as sgkb %}
    <tr>
        <td>
            <a style="display: inline-block; margin-left: {{ 24 * spaces|default(0) }}px;" href="{{ path('sgkb_admin_categories_articles', { 'path': category.path }) }}">{{ category.name }}</a>
        </td>
        <td style="width: 350px;">
            <a class="btn" href="{{ path('sgkb_admin_categories_articles', { 'path': category.path }) }}">{% trans %}Articles{% endtrans %}
                <span class="badge badge-small">{{ category.getArticles()|length }}</span></a>
            <a class="btn" href="{{ path('sgkb_admin_categories_show', { 'path': category.path }) }}">
                {% trans %}Subcategories{% endtrans %}
                <span class="badge badge-small">{{ category.getChildren()|length }}</span>
            </a>
            {{ sgkb.editCat('sgkb_admin_categories_edit', { 'path': category.path }) }}
        </td>
    </tr>

    {% if category.getChildren()|length > 0 %}
        {% for child in category.getChildren() %}
            {{ _self.drawItemRow(child, 1 + spaces|default(0)) }}
        {% endfor %}
    {% endif %}

{% endmacro %}
